body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, black, goldenrod);
}

.title {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  width: 90%;
  max-width: 800px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
}

.grid-item {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 56.25%;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  font-family: 'Audiowide', cursive;
}
.zoom {
  display: inline-block;
  position: relative;
}

.zoom:hover::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
